h1{
    font-size:5em;
    color:darkblue;
}
body{
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
        height: 100vh;
        text-align: center;
        
}
#first{
    color:black;
    border-color: black;
    border-style:hidden;
    background-color:dimgrey;
}
#second{
    color:black;
    border-color: black;
    border-style: hidden;
    background-color: dimgrey;
    
}
label{
    color:chocolate;
    font-size: 2em;
    
}
.button{
    background-color:chocolate;
    size: 150px;
}